.review{
    padding: 20px 0px;
    width: 100vw;
    height: auto;
    display: flex;
    overflow-x: scroll;
}

.review-card {
    border-radius: 12px;
    padding: 10px;
    margin: 0 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
}

/* scroll bar  */
.review::-webkit-scrollbar {
    height: 5px;
  }
   
  .review::-webkit-scrollbar-track {
      box-shadow: 0px 0px 4px #ccc;
}

.review::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
    to right,
    #dd5e89 0%,
    #f7bb97 51%,
    #dd5e89 100%
  );
    border-radius: 8px;
  }