.short-summary{
    margin: 60px 0;
}
.icon{
    font-size: 40px;
    color: #333;
}
.short-summary .card{
    background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
    border: none;
    color: #000;
    backdrop-filter: blur(1px);
    border-radius: 12px;
}
