.short-summary{
    transform: translateY(-80px)
}
.icon{
    font-size: 40px;
    color: #dd5e89;
}
.short-summary .card{
    background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225, 200, 239, 0.733) 21.4%, rgba(163, 225, 233, 0.747) 57.1% );
    border: none;
    color: #000;
    backdrop-filter: blur(1px);
    border-radius: 12px;
}
